adal==1.2.0
aliyun-python-sdk-core-v3==2.11.5
amqp==2.3.2
anyjson==0.3.3
asn1crypto==0.24.0
billiard==3.5.0.4
cachetools==3.0.0
celery==4.2.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
Django==1.11.15
django-celery-results==1.0.4
djangorestframework==3.11.2
dnspython==1.16.0
eventlet==0.24.1
google-auth==1.6.2
greenlet==0.4.15
idna==2.8
kombu==4.2.1
kubernetes==8.0.0
monotonic==1.5
oauthlib==2.1.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
pycryptodome==3.6.4
PyJWT==1.7.1
PyMySQL==0.9.3
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
redis==2.10.6
requests==2.21.0
requests-oauthlib==1.0.0
rsa==4.0
ruamel.yaml==0.15.81
six==1.12.0
urllib3==1.24.1
vine==1.1.4
websocket-client==0.54.0
